
@import url('../assets/fonts/inter/stylesheet.css');

@import url('../assets/fonts/satoshi/css/satoshi.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./_bg.css";
@import "./_types.css";

@layer base {
  html {

    @apply scroll-smooth font-body bg-dark text-light  overflow-x-hidden w-screen h-full;
  }
  body{
    @apply overflow-x-hidden;
  }


}



  .speed-slow{
    animation-duration: 35s;
  }

  .speed-normal{
    animation-duration: 20s;
  }

  .speed-fast{
    animation-duration: 15s;
  }





h1,h2,h3,h4,h5,h6{
  @apply font-title;
}